body {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

h1 {
    color: white;
    text-align: center;
}

#pokemon-container{
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
}

#Pokemon-Name {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
}

footer {
    color: white;
    text-align: center;
    padding: 1rem;
}


.pokemon-image {
    width:  350px;
    height: auto;
    margin-top: 1rem;
}

#weather-name{
    text-align: center;
    color: white;
}